section{
    width: 1005;
    
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg');
    .sectioncon{
        width: 100%;
        height: 700px;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: white;
            font-size: 60px;
            width: 60%;
            text-align: center;
        }
        hr{
            width: 10%;
            height: 0.5rem;
            margin: 1.5rem auto;
            background-color: #f4623a;
            opacity: 1;
            border: 0.01px solid black;
        }
        p{
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: rgb(177, 177, 177);
            font-size: 20px;
            width: 60%;
            text-align: center;
        }
        button{
            width: 15%;
            height: 40px;
            background-color: $color1;
            color: white;
            border: none;
            border-radius: 20px;
        }
    }
}