
$color1:#f4623a;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    margin: auto;
    padding: 0 32px;
    max-width: 1200px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

@import 'nav';
@import 'section';
@import 'section2';
@import 'header';
@import 'section3';
@import 'sonam';
@import 'footer';



